LASTFM_API_KEY=
DISCOGS_API_KEY=
DISCOGS_SECRET=
GENIUS_CLIENT_ID=
GENIUS_CLIENT_ACCESS_TOKEN=
GENIUS_SECRET=
GOOGLE_GENERATIVE_AI_API_KEY=
OPENROUTER_API_KEY=
DATABASE_URL=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=